.auth-card {
    padding: 50px;
    width: 70%;
    max-width: 400px;
    border: 1px solid rgba(49, 49, 49, 0.75);
    border-radius: 5px;
    box-sizing: border-box;
}

.auth-card h1 {
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 20px;
}

.description {
    font-size: 13px;
    color: rgba(49, 49, 49, 0.75);
    margin-bottom: 20px;
}

/* Responsiveness */

@media (max-width: 500px) {
    .auth-card {
        padding: 25px;
    }
}

@media (max-width: 410px) {
    .auth-card {
        border: none;
    }

    .auth-card h1 {
        font-size: 18px;
    }

    .description {
        font-size: 10px;
    }
}
