.question-container {
    align-items: center;
}

.other-question-container,
.question-container p {
    font-size: 13px;
    margin: 5px 0px;
}
.other-question-container p a,
.question-container p a {
    font-size: 13px;
    color: #ff8682;
    text-decoration: none;
}

.question-container p a:hover,
.other-question-container p a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
