.remeber-me-container {
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.remeber-me-container a {
    font-size: 13px;
    color: #3869eb;
    text-decoration: none;
}

.remeber-me-container a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.remeber-me-container div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.remeber-me-container div p {
    font-size: 13px;
    margin-left: 5px;
}

.remeber-me-container div input {
    margin: 0;
}
