NODE_ENV=development
PORT=8000
DATABASE=Your atlas cluster connection string
DATABASE_PASSWORD=Your atlas cluster password 

JWT_SECRET=a long secret word
JWT_EXPIRES_IN=2s
JWT_COOKIE_EXPIRES_IN=Your JWT_EXPIRES_IN time without the units

EMAIL_ADDRESS=youremail@domain.io
EMAIL_PASSWORD=your gmail app specific password