.back-container {
    margin-bottom: 10px;
    width: fit-content;
}

.back-container:hover {
    cursor: pointer;
}

.back-container p {
    font-size: 25px;
    font-weight: 200;
}

.back-container h3 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 300;
}
