.submit-btn {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins', Tahoma, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: #3869eb;
    color: white;
    border: none;
    border-radius: 3px;
    transition: opacity 0.15s;
}

.submit-btn:hover {
    opacity: 0.9;
}

.submit-btn:active {
    opacity: 0.7;
}
